/*body {*/
    /*padding: 50px;*/
    /*background: url(../imgs/3664027178_6556c6183e_o.jpg) 50% 0 no-repeat;*/
/*}*/

html {
    background-color: #8e8f89 !important;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../imgs/kv5XU-2AvSE.jpg) no-repeat center center;
    background-size: cover;

    position: absolute;
    width: 100%;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

